body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(hsl(282, 100%, 10%), hsl(282, 100%, 30%), hsl(282, 100%, 10%));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    float: left;
    display: flex;
}


.container {
    margin-top: 50vh;
}

#c2, #c3 {
    position: fixed;
}

.rectangle {
    min-height: 2px;
    margin-left: 2px;
    margin-right: 2px;
    transform: rotatex(180deg);
    transform-origin: top;

    background: #FDEDFA;
    box-shadow: 0px 0px 50px #CC35F6;
    transition: height 0.075s;
}

.rectangle--mirror {
    background: #FF55FE;
    transform: none;
    filter: blur(3px);
}

#fps_drops {
    margin: 0;
    position: fixed;
    color: hsla(108, 100%, 50%, 0.644);
    font-size: 25px;
}