body {
    margin: 0;
    overflow: hidden;
    background: #1e1e1e;
}

.container {
    float: left;
    display: flex;
}


.container {

    margin-top: 50vh;
}

#c2 {
    position: fixed;
}

.rectangle {
    min-height: 2px;
    transform: rotatex(180deg);
    transform-origin: top;

    background: #FEEDFF;
    box-shadow: 0px 0px 5px #CC35F6; 
    transition: height 0.01s;
}

.rectangle--shadow {
    background: #FF55FE;
    transform: none;
    filter: blur(3px);
}
