body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(hsl(282, 100%, 10%), hsl(282, 100%, 30%), hsl(282, 100%, 10%));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    float: left;
    display: flex;
}

.container {
    margin-top: 50vh;
}

#c2, #c3 {
    position: fixed;
}

.rectangle {
    min-height: 2px;
    margin-left: 2px;
    margin-right: 2px;
    transform: rotatex(180deg);
    transform-origin: top;

    background: #FDEDFA;
    box-shadow: 0px 0px 50px #CC35F6;
    transition: height 0.075s;
}

.rectangle--mirror {
    background: #FF55FE;
    transform: none;
    filter: blur(3px);
}

#fps_drops {
    top: 0;
    margin: 0;
    position: fixed;
    color: hsla(108, 100%, 50%, 0.644);
    font-size: 25px;
}

.custom-field {
    top: 30px;
    right: 85px;
    position: fixed;
}

.custom-field input {
    color: white;
    border: 2px solid hsla(311, 80%, 96%, 0.1);
    border-radius: 3px;
    background: transparent;
    width: 250px;
    font-size: 14px;
    outline: none;
    transition:
        visibility 0.3s,
        opacity 0.3s,
        border-color 0.3s,
        box-shadow 0.3s;
}

.placeholder {
    position: fixed;
    pointer-events: none;
    top: calc(30px + 11px);
    right: calc(85px + 220px);
    transform: translateY(-50%);
    color: hsla(311, 80%, 96%, 0.1);
    transition:
        visibility 0.3s,
        opacity 0.3s,
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease;
}

input:valid + .placeholder,
input:focus + .placeholder {
    top: calc(30px - 15px);
    font-size: 20px;
    color: hsla(311, 80%, 96%, 1);
    text-shadow: 0px 0px 10px #FF55FE;
}

input:valid,
input:focus {
    border-color: hsla(311, 80%, 96%, 1);
    box-shadow: 0px 0px 10px hsla(300, 100%, 67%, 1);
}

#sendButton {
    position: fixed;
    top: calc(30px - 6px);
    font-family: Arial, Helvetica, serif;
    width: 50px;
    line-height: 30px;
    float: right;
    text-align: center;
    margin-left: 10px;
    color: hsla(311, 80%, 96%, 0.1);
    border: 2px solid hsla(311, 80%, 96%, 0.1);
    border-radius: 10px;
    transition:
        visibility 0.3s,
        opacity 0.3s,
        color 0.3s,
        border-color 0.3s;
}

#sendButton:hover {
    cursor: pointer;
    color: hsla(311, 80%, 96%, 1);
    border-color: hsla(311, 80%, 96%, 1);
    box-shadow: 0px 0px 10px hsla(300, 100%, 67%, 1);
}

.audio-controls {
    position: fixed;
    display: flex;
    width: 140px;
    top: 20px;
    left: calc(50% - 70px);
}

#playButton, #stopButton {
    width: 70px;
    height: auto;
    opacity: 0.3;
    transition: opacity 0.3s, filter 0.3s;
}

#playButton:hover, #stopButton:hover {
    opacity: 1;
    filter: drop-shadow(0px 0px 5px hsla(300, 100%, 67%, 1));
}